<p>menu works </p>

<div>
    
    <div class="content-box" *ngFor="let listing of listings">
      
        <div class="container" class="text-center">
            
            <div class="panel panel-success" >
                <div class="panel-heading" ><em>{{listing.veg}} </em></div>
                
            </div>
          
        
         </div>
            <h3>{{listing.name}} - ${{listing.price}}</h3>
            <h5>Available quantity: {{listing.quantity}}</h5>
            <h5>nutritional Value (Kcal): {{listing.nutrition}} </h5>
            <h5>{{listing.spl}}</h5>
            
            
        
    </div>
</div>


